#contact {
  margin-bottom: 300px;
}

.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: solid 1px transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  -webkit-box-shadow: 0 0 10px #4db5ff ;
  box-shadow: 0 0 10px var(--color-primary);
}

.scroll__up {
  position: absolute;
  right:  5rem;
  transform: rotate(90deg);
  font-weight: 500;
  font-size: 0.9;
  color: var(--color-primary);
}

.contact__icon {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.contact__option a {
  display: inline-block;
  font-size: 0.8rem;
  margin-top: 0.7rem;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  -webkit-box-shadow: 0 0 10px #4db5ff ;
  box-shadow: 0 0 10px var(--color-primary);
  color: var(--color-white);
  font-size: 1.5rem;
  resize: none;
}


/* MEDIS QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  #contact {
    margin-bottom: 500px;
  }

  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* SMALL DEVICES */

@media screen and  (max-width: 600px) {
 

  .container.contact__container {
  width: var(--container-width-sm);
    gap: 2rem;
  }
}
