.testimonials__container {
  width: 40%;
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  
}

.testimonial h3 {
  margin: 1.2rem 0 0.5rem;
}

.collegue__image {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.collegue__recomendation {
  color: var(--color-light);
  font-weight: 300px;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}


@media screen and (max-width: 1024px) {
  .testimonials__container {
    width: 60%;
  }
  #recomendations {
    margin-top: 1000px;
  }
}

@media screen and (max-width: 600px) {
  .testimonials__container {
    width: var(--container-width-sm);
  }

  #recomendations {
    margin-top: 2750px;
  }

  .collegue__recomendation {
    width: var(--container-width-sm);
  }
}