.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  background: var(--color-bg-variant);

  padding: 2.4rem 6rem;
  -webkit-box-shadow: 0 0 10px transparent ;
  box-shadow: 0 0 10px transparent;
  border: 1px solid transparent;
  border-radius: 2rem;
  transition: var(--transition);
}

.experience__container div:hover {
  background: var(--color-bg);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details-div {
  display: flex;
  gap: 1.4rem;
  margin-top: 16px;
  color: var(--color-primary);
}

.detail-icon {
  margin-top: 6px;
}

.text-light {
  margin-left: 2.5rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width:1024px){
  #experience {
    margin-top: 370px;
  }

  .experience__container {
    grid-template-columns: 1fr 1fr;
  }

  .experience__container > div {
    /* width: 80%; */
    padding: 2rem;
   
  }

  .experience__content {
    padding: 1rem;
  }
  }
  /* MEDIA QUERIES (SMALL DEVICES) */
  @media screen and (max-width:600px){
    #experience {
      margin-top: 600px;
     
    }
    .experience__container {
      grid-template-columns: 1fr;
      gap: 5rem;
      
      
      width: 80%;


      /* margin-bottom: 200px; */
    }

    .experience__details {
      /* display: grid; */
      /* grid-template-columns:  1fr 1fr; */
      gap: 2rem;
     
    }

    .experience__container > div {
      width: var(--container-width-sm);

    }

     .myTech  {
     margin-left: 50px;
      
    }

    .header_container {
      margin-left: 50px;
    }
    
  }
 
